<app-header title="Calculate MarkUp %"></app-header>

<ion-content [fullscreen]="true">
  <ion-list (ionChange)="calculateMarkup()">
    <ion-item (click)="priceType()">
      <ion-label>Precio Costo {{ check.selected ? "Bruto" : "Neto" }}</ion-label>
      <ion-checkbox slot="end" color="primary" [(ngModel)]="check.selected"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="costingPrice" placeholder="Ingrese Precio Costo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Precio Venta</ion-label>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="sellingPrice" placeholder="Ingrese Precio Venta"></ion-input>
    </ion-item>
  </ion-list>

  <div class="labelContainer">
    <ion-label class="label"> {{ markupValue | percent }} </ion-label>
  </div>
</ion-content>
